# Dirs
/build/
/bin/
/out/
/daikon-outputs/
/mutants/
/experiments/gassert/**

# Files
invs*
lib/FuzzSpecs.jar
scripts/buckets.out

# IDE related files
.classpath
.project
.idea
.settings
fuzzing-specs.iml
